.list {
    width: 100%;
    // z-index: -1;
}

.MuiListItemAvatar-root {
    padding-right: 2rem;
}

.list-item {
    .MuiListItemText-primary > &__title {
        font-weight: bold;
    }
    &__price {
        font-weight: bold;
    }
    &__img.MuiAvatar-root.MuiAvatar-circular {
        width: 5rem;
        height: 5rem;
    }
}
