.list {
    width: 100%;
}

.MuiListItemAvatar-root {
    padding-right: 2rem;
}

.MuiList-root.list {
    padding-top: 2rem;
}

.category-title {
    scroll-margin-top: 8rem;
}

.list-item {
    .MuiListItemText-primary > &__title {
        font-weight: bold;
    }
    &__price {
        font-weight: bold;
    }
    &__img.MuiAvatar-root.MuiAvatar-circular {
        width: 5rem;
        height: 5rem;
    }
}

.order > .MuiButton-root {
    box-shadow: 10px 10px 5px #aaaaaa;
}

.order {
    position: fixed;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
}
