.MuiTabs-scrollButtons.Mui-disabled {
    opacity: 0.3;
}

.MuiTabs-root {
    position: fixed;
    background-color: #fff;
    z-index: 1;
}

.brand {
    width: 100%;
    height: 2rem;
    padding-top: 1rem;
    top: 0;
    display: flex;
    justify-content: center;
    position: sticky;
    z-index: 1;
    background-color: #fff;
}
